{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<style>
    .form-check{
      margin-left: 10px;

    }
    @media (min-width: 859px) {
  .col-md-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .form-control{
      margin-bottom: 22px;

  }

  .custom_button {
    min-width: 110px;
    max-width: 110px;
    min-height: :50px;
    min-width: : 50px;
}
}
  }
</style>

<script>

  function previous_page(){
    
      var current_page = parseInt("{{page}}")-1
      var saved_answer_ = save_answer(current_page)
      
      if('{{page}}'==0 || saved_answer_!=null){
        window.location.href = '/survey/' +'{{survey.pk}}'+'/'+current_page;
      }
      else if(saved_answer_==null){

      }
  }

  function next_page(){
  
      var current_page = parseInt("{{page}}")+1
      var saved_answer_ = save_answer(current_page)
      //console.log(save_answer())
      
      if('{{page}}'==0 || saved_answer_!=null){
        window.location.href = '/survey/' +'{{survey.pk}}'+'/'+current_page;
      }
      else if(saved_answer_==null){

      }
     
      
  }


function findSelection(field) {
    var test = document.getElementsByName(field);
    var sizes = test.length;
    alert(sizes);
    for (i=0; i < sizes; i++) {
            if (test[i].checked==true) {
            alert(test[i].value + ' you got a value');     
            return test[i].value;
        }
    }
}
  
  

  function save_answer(page){

    if('{{page}}'==0){
      return null
    }
    var answer_ = get_answer()
    if(answer_==null){
      return null
    }
    else{
              var returned_value = null
              var generated_csrf_token = "{{ csrf_token }}";
              survey_post_url = '/survey/'+'{{survey.pk}}/' +'{{page}}'


              $.post({
              url: survey_post_url,
              headers:{ 'X-CSRFToken': generated_csrf_token},
              data: {

              'body': String(answer_)
             
              },
              dataType: 'json',
              success: function (data) {



              var nextbtn = document.getElementById('nextpagesurvey');



              if(data.error==''){
                  
                  //window.onunload = null
                  //window.onbeforeunload= null;

                  //var next_survey_page = parseInt("{{page}}") -1
                  
                 window.location.href = '/survey/' +'{{survey.pk}}'+'/'+page;
              }
              else{

                error_alert(data.error)
                return null
              }
              },
              error: function(xhr, textStatus, error){
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
              }
              });
              return returned_value


    }
  }


  function get_answer(){
    try {
        if('{{page}}'==0){
          return 
        }
        var question_type = '{{question.type}}'
        
        if(question_type == 'radio'){
          //console.log($('input[name=group1]:checked', '#survey_creator_pages').val())
          var radio_answers = document.getElementsByClassName("form-check-input")
          for(var i =0;i<radio_answers.length;i++){
            if(radio_answers[i].checked==true){
              return(radio_answers[i].value)
            }
          }

        }
        else if(question_type== 'text'){
            var input_answer = document.getElementById('inputAnswer').value
            return input_answer
        }
        else if(question_type =='float'){
            var input_answer = document.getElementById('inputAnswer').value
            if(!isNaN(parseFloat(input_answer))) {
                return input_answer    
            }
            else{
              error_alert('Answer is not an float')
              return null
            }
        }
        else if(question_type == 'integer'){
            var input_answer = document.getElementById('inputAnswer').value
            if(parseInt(input_answer) == input_answer){
              return input_answer
            }
            else{
              error_alert('Answer is not an Integer')
              return null
            }

        }
      }
      catch(err){
        error_alert(err)
        return null
      }


  }

  function error_alert(msg){

    var error_box= document.getElementById('erroralert');
    error_box.innerHTML =  '<div id="errorbody"   class="alert alert-danger">'+msg+'</div>'

  }




  function delete_this_survey(){
    var generated_csrf_token = "{{ csrf_token }}";
    if(confirm('Are you sure you want to delete this survey?')==true){
            var id = '{{survey.pk}}'
            console.log(id)
            if(id){ 
                      console.log('lool')
                        $.post({
                          url: '/survey/delete_survey',
                          headers:{ 'X-CSRFToken': generated_csrf_token},
                          data: {

                                'id': id,
                              
                          },
                          dataType: 'json',
                          success: function (data) {

                            window.location.href = document.referrer

                          }
                        });
           }
    }}

    function edit_survey(){
    var id = '{{survey.pk}}'
        if(id){ 
          window.location.href = '/survey_creator/'+id+'/0'
        }
    
    
    
  
  }
</script>


<div class = 'd-flex align-items-center'>
<div class="container mt-5   ">

    <div class="row ">

      <div class="col-md-4 col-md-center">
        <h2 class="font-weight-bold text-center mb-2">Take a Survey</h2>

      </div>

      
    </div>
    
    <div class="row">

      <div class="col-md-5 col-md-center" >
        <!-- Card Regular -->
        <div class="card card-cascade">

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>{{survey.name}}</strong></h4>
            <hr>
            <!-- Subtitle -->
            <i class="fas fa-poll-h fa-3x blue-text mb-2"></i>
            <p class="font-weight-normal">Your opinion matters</p>
            <!-- Text -->
            <p>{{survey.description}} <span class="font-weight-bold"></span>
            </p>
          </div>
         
          <p id="QuestionText" class="text-center"></p>

          <div id = 'QuestionDOM'>
                <!-- <div class="form-check mb-4" >
                  <input class="form-check-input" name="group1" type="radio" id="radio-119" value="option1" checked>
                  <label class="form-check-label" for="radio-119">Very good</label>
                </div>


                -->
          </div>

          <input type="password" class="custom_input form-control " id="inputAnswer" placeholder="Password">

          <div class="survey-footer clearfix">
            <a type="button" id='nextpagesurvey' onclick="next_page()" class="btn btn-primary waves-effect waves-light ml-3 mb-3 ">Next
              <i class="fa fa-paper-plane ml-1"></i>

            </a>

            <a  type="button"  onclick="previous_page()"  id='previouspagesurvey'  class=" custom_button btn btn-primary waves-effect waves-light ml-3 mb-3 ">  Previous
            <i class="fa fa-paper-plane ml-1"></i>

            </a>

            <a type="button" href='/survey_list/1' class="btn btn-outline-primary waves-effect float-right mr-3 mb-3"
              data-dismiss="modal">Cancel</a>

          </div>
          <button onclick ='delete_this_survey()' id='deletethissurvey' type="button" class="btn btn-dark">Delete</button>
         
          <button onclick ='edit_survey()' id='editthissurvey' type="button" class="btn btn-info">Edit</button>
        </div>
                <nav aria-label="Demo of active current page number">

                   <ul id="survey_creator_pages" class="pagination">
  
                
                   </ul>

                </nav>
                <div id='erroralert'>
      </div>
      <!-- Card Regular -->
      
    </div>
  </div>
</div>


  
</div>

<script>
  function add_existing_question(){
  
  
  console.log('{{answer.body}}')
 
  // document.getElementById('QuestionText').innerHTML = "{{question.choices}}"
  // console.log(select_picker)
  if('{{question}}'){

    if('{{question.type}}'=='radio'){
      
      //removeRadio()
      document.getElementById('inputAnswer').remove()
      var target = document.getElementById('QuestionDOM');
      var question_ = document.getElementById('QuestionText');
      question_.innerHTML = '{{question.question_text}}'
      
      var str = target.innerHTML

      var current_choices_ = '{{question.choices}}'.split(',')
      for(var i_ =1; i_<current_choices_.length+1;i_++){
            var checked_= ''
             if('{{answer}}'){

                if( current_choices_[i_-1] == '{{answer.body}}' ){
                  checked_= 'checked'
                }

             }
             else{
              checked_ = 'checked'
             }

             str = str+ '<div id="radio'+ i_ +'" class="radquestion form-check mb-4" > <input class="form-check-input" name="group1" type="radio" id="radio-119" value="'+current_choices_[i_-1]+'" '+checked_+'>';
                      str= str+'<label id="radio_text'+ i_ +'"  class="form-check-label" for="radio-319">'+
                      current_choices_[i_-1]+'</label></div>'

      }
      target.innerHTML = str
    }
    else if('{{question.type}}'=='integer'){
      
      //select_picker.value = "Integer Question"
      var question_ = document.getElementById('QuestionText');

      question_.innerHTML = '{{question.question_text}}'
      document.getElementById('inputAnswer').placeholder='Integer type answer'
      document.getElementById('inputAnswer').type="number"
       if('{{answer}}'){
        console.log('eleoe')
        console.log('{{answer.body}}')
        document.getElementById('inputAnswer').value = '{{answer.body}}'
      }
    }
    else if('{{question.type}}'=='text'){
     
      var question_ = document.getElementById('QuestionText');
      question_.innerHTML = '{{question.question_text}}'
      document.getElementById('inputAnswer').placeholder='Text type answer'
      document.getElementById('inputAnswer').type="text"
       if('{{answer}}'){
        console.log('{{answer.body}}')
        document.getElementById('inputAnswer').value = '{{answer.body}}'
      }
    }
    else if('{{question.type}}'=='float'){
      
      document.getElementById('inputAnswer').type="number"
      //select_picker.value = "Integer Question"
      var question_ = document.getElementById('QuestionText');
      question_.innerHTML = '{{question.question_text}}'
      document.getElementById('inputAnswer').placeholder='Float type answer'

      if('{{answer}}'){
        document.getElementById('inputAnswer').value = '{{answer.body}}'
      }
    }

    // var str = target.innerHTML
    //  str = str+ '<div id="radio'+ radioButtons_length +'" class="radquestion form-check mb-4" ><input class="form-check-input" name="group1" type="radio" id="radio-119" value="option1" checked>';
    //       str= str+'<label id="radio_text'+ radioButtons_length +'" contenteditable="true" class="form-check-label" for="radio-319">*Edit Answer*</label></div>'
    //  target.innerHTML = str
    }
  }


  add_existing_question()





  function init_paginator(){
  var page_len = "{{questions_length}}"
  var pagination_ul = document.getElementById('survey_creator_pages')
  pagination_ul.innerHTM=''
  for(var i=1;i<=page_len;i++){

    if(i=="{{page}}"){
     pagination_ul.innerHTML=pagination_ul.innerHTML+'<li class="page-item  active"><a class="page-link" >'+i+'</a></li>'
     continue;
    }
    pagination_ul.innerHTML=pagination_ul.innerHTML+'<li class="page-item "><a class="page-link" >'+i+'</a></li>'
  }

}
init_paginator()




 if("{{page}}"==0){
   
    
        document.getElementById('previouspagesurvey').remove()
        
          document.getElementById('inputAnswer').remove()
        document.getElementById('QuestionText').remove()
   
    
      
    

  }
  else{
             
        document.getElementById('deletethissurvey').remove()
         document.getElementById('editthissurvey').remove()
        console.log("{{questions_length}}")
             
  }

  if("{{page}}"=="{{questions_length}}"){
    document.getElementById('nextpagesurvey').remove()
  }




  console.log('WWW')
  console.log("{{answer}}")

</script>


{% endblock content %}	
